{% extends "layout.html" %}

{% block content %}
  <div class="box addtask">
    <h2>Añadir tarea</h2>

    {% for message in form.title.errors %}
      <div class="error">{{ message }}</div>
    {% endfor %}

    {% for message in form.description.errors %}
      <div class="error">{{ message }}</div>
    {% endfor %}

    {% for message in form.priority.errors %}
      <div class="error">{{ message }}</div>
    {% endfor %}

    <div class="formbox">
      <form action="{{ url_for('addtask') }}" method="post">
        {{ form.hidden_tag() }}

        {{ form.title.label }}
        {{ form.title }}

        {{ form.description.label }}
        {{ form.description }}

        {{ form.priority.label }}
        {{ form.priority }}

        {{ form.submit }}
      </form>
    </div>
  </div>
{% endblock %}