{% extends "layout.html" %}

{% block content %}
  {% for message in form.firstname.errors %}
    <div class="error">{{ message }}</div>
  {% endfor %}

  {% for message in form.lastname.errors %}
    <div class="error">{{ message }}</div>
  {% endfor %}

  {% for message in form.email.errors %}
    <div class="error">{{ message }}</div>
  {% endfor %}

  {% for message in form.password.errors %}
    <div class="error">{{ message }}</div>
  {% endfor %}

  <div class="registerbox">
    <form action="{{ url_for('register') }}" method="post">
      {{ form.hidden_tag() }}

      {{ form.firstname.label }}
      {{ form.firstname }}

      {{ form.lastname.label }}
      {{ form.lastname }}

      {{ form.email.label }}
      {{ form.email }}

      {{ form.password.label }}
      {{ form.password }}

      <label>Captcha</label>
      {{ form.recaptcha }}

      {{ form.submit }}
    </form>
  </div>
{% endblock %}