{% extends "layout.html" %}

{% block content %}
  <div class="box detailtask">
    <h2>{{ task.title }}</h2>
    <div class="info">
      Creada: {{ task.created_at.day }}/{{ task.created_at.month }}/{{ task.created_at.year }}
      {% if task.finished_at %}
      Terminada: {{ task.finished_at.day }}/{{ task.finished_at.month }}/{{ task.finished_at.year }}
      {% endif %}
    </div>
    <p>{{ task.description }}</p>
  </div>
{% endblock %}