{% extends "layout.html" %}

{% block content %}
  <div class="box tasks tasks_undone">
    <h2>Tareas Pendientes</h2>
    <ul>
      {% for task in tasks.todo %}
        <li class="{{ task.priority }}">
          <h3><a class="tasktitle" href="{{ task.id }}">{{ task.title }}</a></h3>
          <div class="right">
            <span class="date">{{ task.created_at.day }}/{{ task.created_at.month }}/{{ task.created_at.year }}</span>
            <span class="options">
              <a href="done/{{ task.id }}"><img src="{{ url_for('static', filename='imgs/done.png') }}" alt="Hecho"></a> -
              <a href="edit/{{ task.id }}"><img src="{{ url_for('static', filename='imgs/edit.png') }}" alt="Editar"></a> -
              <a href="delete/{{ task.id }}"><img src="{{ url_for('static', filename='imgs/delete.png') }}" alt="Eliminar"></a>
            </span>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="box tasks">
    <h2>Tareas Realizadas</h2>
    <ul>
      {% for task in tasks.done %}
        <li class="{{ task.priority }}">
          <h3><a class="tasktitle" href="{{ task.id }}">{{ task.title }}</a></h3>
          <div class="right">
            <span class="date">{{ task.created_at.day }}/{{ task.created_at.month }}/{{ task.created_at.year }}</span>
            <span class="options">
              <a href="edit/{{ task.id }}"><img src="{{ url_for('static', filename='imgs/edit.png') }}" alt="Editar"></a> -
              <a href="delete/{{ task.id }}"><img src="{{ url_for('static', filename='imgs/delete.png') }}" alt="Eliminar"></a>
            </span>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}